nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;


  ul {
    list-style: none;
    display: flex;

    li {
      cursor: auto;
      font-weight: 500;
      font-family: Roboto, sans-serif;
      font-size: 1.3rem;
      transition: 0.2s;

      a {
        cursor: pointer;
      }
    }

    li:hover {
      opacity: 0.7;
    }

    #lineGreen {
      border-bottom: 3px solid var(--green);
    }
  }

  button {
    font-family: Roboto, sans-serif;
    border: 0;
    border-radius: 0.5rem;
    color: #fff;
    line-height: 1rem;
    font-size: 1.25rem;
    background: var(--pure);
    padding: .7rem 2rem;
    transition: filter 0.2s;
  }

  button:hover {
    filter: brightness(0.9);
  }

  img {
    width: 140px;
    height: 100px;
  }
}

ul {
  padding: 2rem;
}


.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

li {
  padding: .5rem 1.5rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  opacity: 0.7;
}

input#checkbox:checked ~ ul.collapsed {
  right: 0px;
}

ul.collapsed li {
  font-size: 2rem;
  padding: 2rem 0;
}

ul.collapsed {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: -50000px;
  line-height: 30px;
  transition: ease-in-out .2s;
  z-index: 1;
  color: #fff;
  background-color: rgba(43, 43, 43, .9);
}

#x {
  position: relative;
  left: 230px;
}

#checkbox {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

#mobile {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 999px) {
  #mobile {
    display: flex;

      button {
        font-family: Roboto, sans-serif;
        border: 0;
        color: #fff;
        height: 4rem;
        font-size: 2rem;
        padding: 1.4rem 3rem;
        transition: filter 0.2s;
        margin-top: 1.5rem;
      }
    
      button:hover {
        filter: brightness(0.9);
      }

    #lineGreen {
      border: 0;
    }
  }

  #desktop {
    display: none;
  }

  #x {
    position: relative;
    left: 340px;
    transition: 0.2;

    :hover {
      cursor: pointer;
      filter: brightness(0.8);
    }
  }
}

@media (max-width: 700px) {
  #x {
    position: relative;
    left: 220px;
  }
}

@media (max-width: 500px) {
  #x {
    position: relative;
    left: 170px;
  }
  
  nav img {
    margin-top: -5rem;
    width: 120px;
    height: 180px;
  }
}



